<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Exercises 1 & 5: bean definitions -->
    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <!-- Exercises 2 & 7: dependency injection.
         Constructor injection of BookRepository + setter injection of catalogName.
         (A setter for BookRepository also exists on the class per Exercise 7.) -->
    <bean id="bookService" class="com.library.service.BookService">
        <constructor-arg ref="bookRepository"/>
        <property name="catalogName" value="Central Library"/>
    </bean>

    <!-- Exercises 3 & 8: register the aspect and enable AspectJ auto-proxying -->
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>
    <aop:aspectj-autoproxy/>

</beans>
